:root{
    --cor-fundo:#2dc219;
    --cor-principal:#0041f3;
    --cor-secundaria:#4d4f62;
    --cor-destaque:#77c9d7;
    --cor-texto:#f5f2f2;

}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque); 
}