:root{
    --cor-fundo: #004e89;
    --cor-principal: #6d929b;
    --cor-secundaria: #577399;
    --cor-destaque: #c7f0d6;
    --cor-texto: #f4f4f4;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque); 
}